REACT_APP_SUPABASE_URL=https://jbnnucbjvbkteohmuhgt.supabase.co
REACT_APP_SUPABASE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Impibm51Y2JqdmJrdGVvaG11aGd0Iiwicm9sZSI6ImFub24iLCJpYXQiOjE2NDQ0NTA0NjYsImV4cCI6MTk2MDAyNjQ2Nn0.PQoOz-G5q-rP2ZQrMkXpRAws76M-PAzHNGDwKuGYL6A