.task {
    font-weight: bold;
    background-color: white;
    width: 300px;
    margin: auto;
    color: var(--color5);
    font-size: 1.6rem;
    border: 3px solid var(--color2);
}

.completed {
    color: lightgrey;
    font-weight: normal;
}