* {
  margin: 0;
}

.App {
  --color1: hsla(252, 100%, 88%, 1);
  --color2: hsla(240, 69%, 82%, 1);
  --color3: hsla(311, 35%, 79%, 1);
  --color4: hsla(334, 41%, 68%, 1);
  --color5: hsla(350, 35%, 53%, 1);
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
