.authForm {
    margin: 50px auto;
    width: 300px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: flex-end;
    border: 2px solid black;
    padding: 40px;
}

.authForm > * {
    margin: 10px;
}

.authForm button {
    align-self: center;
}